# Export Orders Products Combined

In [4]:
# Import
import pandas as pd
import numpy as np
import os

In [5]:
# $PATH$
path = r'/Users/josephadamski/Instacart Basket Analysis'

In [6]:
# Import orders_products_combined.csv dataframe from the pickle file
orders_products_combined = pd.read_pickle(os.path.join(path, 'Data' , 'prepared data' , 'orders_products_combined.pkl'))

In [7]:
# Confirm Shape of Imported Dataframe
orders_products_combined.shape

(32434489, 11)

In [9]:
# Check Column Orders
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

## Combine orders_products_combined dataframe with products data set.

In [10]:
# Import Product Dataframe from Prepared data.
df_prods= pd.read_csv(os.path.join(path, 'Data','Prepared Data', 'products_checked.csv'),index_col=0)

In [11]:
df_prods.head()

,product_name,aisle_id,department_id,prices
product_id,,,,
1,Chocolate Sandwich Cookies,61,19,5.8
2,All-Seasons Salt,104,13,9.3
3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Check Shape
df_prods.shape

(49672, 4)

In [13]:
# Test Merge
pd.merge(orders_products_combined, df_prods, on = ['product_id'], indicator='Match')

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,False,14197,5,1,both,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,13,1,12,7.0,False,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,13,1,12,7.0,False,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,13,1,12,7.0,False,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,13,1,12,7.0,False,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

I used indicator='match' because orders_products_combined already has a _merge column. To use indicator=True in a new merge, I must first drop the existing _merge column.

In [14]:
# Drop Merge Column
orders_products_combined = orders_products_combined.drop(['_merge'], axis=1)

In [15]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [16]:
orders_products_combined.shape

(32434489, 10)

In [17]:
# Merge Updated Dataframe
df_ords_prods_merge = df_prods.merge(orders_products_combined, on = 'product_id', indicator = True)

In [18]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [19]:
df_ords_prods_merge.shape

(32404859, 15)

## Confirm Results fo Merge

In [20]:
# Checking Output of merge flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Export Dataframe

In [21]:
# Export to PKL
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data','Prepared Data', 'ords_prods_merge.pkl'))