# Merging Data

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assigning $PATH$
path = r'/Users/josephadamski/Instacart Basket Analysis'

In [5]:
# Import orders_product_prior.csv
df_ords_ = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders_products_prior.csv'), index_col=False)

In [ ]:
# Verify Output
df_ords_prior.head()

In [6]:
df_ords=pd.read_csv(os.path.join(path, 'Data','Prepared Data', 'orders_checked.csv'),index_col=False)

In [7]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [8]:
# Check Shape 
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 7)

In [10]:
# Merge Data
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# Values in merged column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
# Shape of Merged Data
df_merged_large.shape

(32434489, 11)

## Export to PKL

In [13]:
# Export to PKL
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))